*{
    margin: 0;
    padding: 0;
}

body{background-image: url("https://s5.static.brasilescola.uol.com.br/img/2019/04/venus(1).jpg");
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: bottom;
    background-size: 100%;
    }

    h1{
        display: flex;
        color: white;
        justify-content: center;
        font-size: 60px;
    }

    p{
        background: rgba(0, 0, 0, 0.808);
        display: flex;
        color: white;
     text-align: center;
     justify-content: center;
     margin: 5vh;
     font-size: 25px;
     margin-left: 80px;
margin-right: 80px;
    }

.Voltar{
        width: 80px;
        height: 50px;
}

input{
    height: 40px;
   width: 70px;
   border-radius: 100vh;
}